/* open-sans-regular - cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v18-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v18-cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v18-cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --purple: #9D5CD0;
  --purple-light: #C283F3;
  --purple-dark: #7943A4;
  --gray: #999;
  --gray-light: #cacaca;
  --dark: #333;
}

:focus:not(:focus-visible) {
  outline: 0;
}

* {
  box-sizing: border-box;
}

.page {
  position: relative;
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
}

.m-p-reset {
  padding: 0;
  margin: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link-reset {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1680px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

:focus {
  outline: 2px solid var(--purple-dark);
}

@media (hover: hover) and (pointer: fine) {

  .nav__link:hover {
    color: var(--purple-light);
  }

  .login__link:hover {
    color: var(--purple-light);
  }

  .login__link:hover .login__img path {
    fill: var(--purple-light);
  }

  .header__link:hover {
    color: var(--purple);
  }

  .header__link:hover .header__img path{
    stroke: var(--purple);
  }

  .dropdown-list__link:hover {
    outline: 2px solid var(--purple);
  }

  .search__btn:hover .search__img path {
    fill: var(--purple-light);
  }

  .search__btn:hover .search__img rect {
    fill: var(--purple-light);
  }

  .search__input:hover {
    border-color: var(--purple-light);
  }

  .btn:hover {
    border-color: var(--purple-light);
  }

  .swiper-button-left__pic:hover, .swiper-button-right__pic:hover {
    fill: var(--purple);
  }
}

/* Header */

.header {
  position: relative;
}

.header__container {
  position: relative;
}

.menu {
  display: flex;
  width: 1247px;
}

.menu__close {
  display: none;
}

.search-top__close {
  display: none;
}

.header__top {
  padding: 27px 0;
  min-height: 100px;
  background-color: black;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__container-bottom {
  display: flex;
  justify-content: space-between;
}

.logo-link {
  margin-right: calc(175 / 1600 * 100%);
}

.burger {
  display: none;
  width: 36px;
  height: 28px;
  background: none;
  border: none;
  background-image: url('../img/Burger.png');
  background-position: center;
  background-repeat: no-repeat;
}

.search-top {
  display: none;
}

.search-top__input {
  display: none;
  outline: none;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.nav__item:not(:last-child) {
  margin-right: 54px;
}

.nav__link {
  padding: 1px 4px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  transition: color .2s ease-in-out;
}

.nav__link:focus:focus-visible {
  background-color: var(--purple-dark);
  outline: none;
}

.nav__link:active {
  color: var(--purple-dark);
  outline: none;
}

.login__link {
  padding: 1px 4px;
  font-size: 18px;
  color: white;
  transition: color .2s ease-in-out;
}

.login__link:focus:focus-visible {
  background-color: var(--purple-dark);
  outline: none;
}

.login__img path {
  transition: fill .2s ease-in-out;
}

.login__link:active {
  color: var(--purple-dark);
}

.login__link:active .login__img path {
  fill: var(--purple-dark);
}

.header__bottom {
  position: absolute;
  padding: 23px 0;
  height: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  background-color:rgba(0, 0, 0, 0.4);
  z-index: 4;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  position: relative;
}

.header__link {
  padding: 2px 4px;
  font-size: 18px;
  background: unset;
  border: unset;
  color: white;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.header__link:focus:focus-visible {
  background-color: var(--purple-dark);
}

.header__item:not(:last-child) {
  margin-right: 85px;
}

.header__link .header__img path {
  transition: stroke .3s ease-in-out;
}

.header__list--dropdown {
  display: block;
  position: absolute;
  padding: 40px;
  left: 0;
  top: 46px;
  background-color: #00000099;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out,
  visibility .3s ease-in-out;
}

.header__img {
  transition: transform .3s ease-in-out;
}

.header__link--active {
  color: var(--purple);
}

.dropdown-list--active {
  opacity: 1;
  visibility: visible;
}

.dropdown-list--disable {
  opacity: 0;
  visibility: hidden;
}

.header__img--active {
  transform: rotate(180deg);
}

.header__img.active path {
  stroke: var(--purple);
}

.dropdown-list__list-item {
  min-width: 220px;
}

.dropdown-list__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown-list__link {
  display: block;
  padding: 11px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-repeat: no-repeat;
  background-size: 220px 40px;
  background-position: center;
}

.dropdown-list__link--bg1 {
  background-image: url('../img/bg1.jpg');
}

.dropdown-list__link--bg2 {
  background-image: url('../img/bg2.jpg');
}

.dropdown-list__link--bg3 {
  background-image: url('../img/bg3.jpg');
}

.dropdown-list__link--bg4 {
  background-image: url('../img/bg4.jpg');
}

.dropdown-list__link--bg5 {
  background-image: url('../img/bg5.jpg');
}

.dropdown-list__link--bg6 {
  background-image: url('../img/bg6.jpg');
}

.dropdown-list__link--bg7 {
  background-image: url('../img/bg7.jpg');
}

.dropdown-list__link--bg8 {
  background-image: url('../img/bg8.jpg');
}

.dropdown-list__link--bg9 {
  background-image: url('../img/bg9.jpg');
}

.dropdown-list__link--bg10 {
  background-image: url('../img/bg10.jpg');
}

.dropdown-list__link--bg11 {
  background-image: url('../img/bg11.jpg');
}

.dropdown-list__link--bg12 {
  background-image: url('../img/bg12.jpg');
}

.dropdown-list__link--bg13 {
  background-image: url('../img/bg13.jpg');
}

.dropdown-list__link--bg14 {
  background-image: url('../img/bg14.jpg');
}

.dropdown-list__link--bg15 {
  background-image: url('../img/bg15.jpg');
}

.dropdown-list__link--bg16 {
  background-image: url('../img/bg16.jpg');
}

.dropdown-list__link--bg17 {
  background-image: url('../img/bg17.jpg');
}

.dropdown-list__link--bg18 {
  background-image: url('../img/bg18.jpg');
}

.dropdown-list__link--bg19 {
  background-image: url('../img/bg19.jpg');
}

.dropdown-list__link--bg20 {
  background-image: url('../img/bg20.jpg');
}


.search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.search__btn {
  background: none;
  border: none;
  cursor: pointer;
}

.search__btn:focus:focus-visible .search__img path {
  fill: var(--purple-dark);
}

.search__btn:focus:focus-visible .search__img rect {
  fill: var(--purple-dark);
}

.search__btn:focus {
  outline: 0;
}

.search__input {
  min-width: 218px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: white;
  transition: border-bottom .2s ease-in-out;
  cursor: pointer;
}

.search__input:focus {
  border-bottom: 1px solid var(--purple-dark);
}

.search__input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.search__input::placeholder {
  font-size: 18px;
  color: white;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.search__img rect {
  transition: fill .2s ease-in-out;
}

.search__img path {
  transition: fill .2s ease-in-out;
}

/* Hero */

@keyframes bg-opacity-1 {
  0% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  66.66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bg-opacity-2 {
  0% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  66.66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bg-opacity-3 {
  0% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  66.66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(120%);
  }
}

.hero {
  position: relative;
  padding-top: 142px;
  padding-bottom: 123px;
  z-index: 3;
  overflow: hidden;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__background--1 {
  background-image: url('../img/hero-1.jpg');
  opacity: 1;
  z-index: -10;
  animation-name: bg-opacity-1, scale;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.hero__background--2 {
  background-image: url('../img/hero-2.jpg');
  opacity: 1;
  z-index: -11;
  animation-name: bg-opacity-2, scale;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.hero__background--3 {
  background-image: url('../img/hero-3.jpg');
  opacity: 1;
  z-index: -12;
  animation-name: bg-opacity-3, scale;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.hero__container {
  display: flex;
  flex-direction: column;
}

.hero__heading {
  margin-bottom: 18px;
  max-width: 570px;
  font-size: 72px;
  font-weight: 700;
  line-height: 83px;
  color: white;
}

.hero__descr {
  margin-bottom: 92px;
  max-width: 560px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: white;
}

.btn {
  border: 2px solid var(--purple);
  border-radius: 100px;
  transition: border-color .2s ease-in-out;
}

.box {
  position: relative;
}

.btn:focus {
  outline: 0;
}

.btn:focus:focus-visible::after {
  content: url('../img/btn-box.svg');
  position: absolute;
  left: -5px;
  top: -5px;
  bottom: 5px;
  right: 5px;
}

.btn:active {
  background-color: var(--purple-dark);
}

.hero__link {
  display: inline-block;
  padding: 21.5px 33px 23.5px 33px;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--purple);
  color: white;
}

/* About */

.about {
  padding-top: 84px;
  padding-bottom: 70px;
}

.heading {
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 48px;
  color: var(--dark);
}

.about__descr {
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark);
}

/* Gallery */

.gallery {
  padding-top: 85px;
  padding-bottom: 70px;
  max-height: 995px;
  background-image: url('../img/galery.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery__container {
  max-height: 840px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.gallery__container > * {
  flex: 1 1;
}

.gallery__heading {
  color: white;
  margin-bottom: 29px;
}

.filter {
  width: calc(400 / 1600 * 100%);
  margin-bottom: 552px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter__descr {
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.choices__inner {
  border-radius: 6px;
  background: transparent;
  color: white;
  font-size: 16px;
}

.choices:focus:focus-visible {
  border-color: var(--purple-light);
}

.choices.is-focused.is-open {
  border-radius: 6px;
}

.choices.is-open .choices__inner {
  border-radius: 6px;
}

.choices__list .choices__list .choices__item--disabled {
  position: absolute;
  opacity: 0;
}

.choices__list {
  background: transparent;
}

.choices__list--dropdown {
  border-radius: 6px;
}

.choices__list--dropdown .choices__item {
  font-size: 16px;
  color: var(--gray);
}

.choices__item--selectable:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--purple-dark);
  opacity: 65%;
}

.choices[data-type*=select-one]:after {
  content: '';
  height: 5px;
  width: 12px;
  background-image: url(../img/filter-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  transition: transform .3s ease-in-out;
}

.choices[data-type*=select-one].is-open:after{
  margin-top: -2px;
  transform: rotate(180deg);
}

.filter__select {
  padding-left: 10px;
  height: 40px;
  border: 1px solid white;
  border-radius: 6px;
  background: transparent;
  color: white;
}

.gallery__note {
  width: calc(400 / 1600 * 100%);
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: white;
}

.gallery__login {
  color: var(--purple-light);
}

.gallery__swiper {
  padding-left: 50px;
  width: calc(1200 / 1600 *100%);
}

.swiper-navigation {
  display: inline-flex;
  margin-bottom: 26px;
  padding-top: 20px;
  padding-left: 3px;
  align-items: center;
}

.swiper-button-left {
  margin-right: 17px;
}

.swiper-button-left__pic:active, .swiper-button-right__pic:active {
  fill: var(--purple-dark);
}

.swiper-pagination {
  margin-right: 20px;
  color: white;
  position: unset;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-direction: row;
}











@media (max-width:1199px) {

  .nav__link {
    transition: color .1s ease-in-out;
  }

  .btn {
    transition: color .1s ease-in-out,
    border-color .1s ease-in-out;
  }
}

@media (max-width:1400px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__top {
    padding: 33px 0;
  }

  .header__bottom {
    display: none;
  }

  .header__container{
    position: unset;
    justify-content: space-between;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    padding: 37px 50px 50px 50px;
    z-index: 20;
    top: 0;
    left: 0;
    bottom: 0;
    height: 768px;
    width: 100vw;
    background-color:rgba(0, 0, 0, 0.9);
    transition: transform .3s ease-in-out;
    transform: translateY(-105%);
  }

  .menu--is-active {
    transform: translateY(0%);
  }

  .burger {
    display: block;
  }

  .menu__close {
    display: block;
  }

  .nav {
    margin-right: 0;
    margin-bottom: 52px;
    display: flex;
    flex-direction: column;
  }

  .menu__close {
    margin-bottom: 52px;
    height: 29px;
    width: 29px;
    border: none;
    background: none;
    background-image: url('../img/cross.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .nav__item {
    margin-right: 0;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 52px;
  }

  .nav__link {
    font-size: 18px;
    font-weight: 600;
    color: white;
  }

  .menu__login {
    margin-top: auto;
  }

  .login__link {
    display: inline-block;
    margin-left: 0;
    padding: 19px 88px 22px 88px;
    border: 2px solid var(--purple);
    border-radius: 100px;
    color: white;
  }

  .header__top {
    position: relative;
  }

  .logo-link {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .search-top__close {
    border: none;
    background: none;
  }

  .search__close--active {
    display: flex;
  }

  .search-top {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-top--active {
    justify-content: space-between;
    padding: 30px 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: black;
    z-index: 100;
  }

  .search-top__img {
    width: 30px;
    height: 29px;
  }

  .search-top__btn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .search-top__input {
    width: 576px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    transition: border .2s ease-in-out;
  }

  .search-top__input::placeholder {
    opacity: 0;
  }

  .search-top__input--is-active {
    display: flex;
  }

  /* Hero */

  .hero {
    padding-top: 113px;
    padding-bottom: 115px;
  }

  .hero__background--1 {
    background-image: url('../img/hero-1-1024.jpg');
  }

  .hero__background--2 {
    background-image: url('../img/hero-2-1024.jpg');
  }

  .hero__background--3 {
    background-image: url('../img/hero-3-1024.jpg');
  }

  .hero__heading {
    margin-bottom: 12px;
  }

  .hero__descr {
    margin-bottom: 133px;
    max-width: 670px;
  }

  /* Gallery */

  .gallery {
    padding-top: 84px;
    padding-bottom: 76px;
  }

  .gallery__container {
    max-height: 679px;
  }

  .filter {
    width: calc(284 / 924 * 100%);
    margin-bottom: 359px;
  }

  .gallery__note {
    width: calc(284 / 924 * 100%);
  }

  .gallery__swiper {
    padding-left: 10px;
    width: calc(594 / 924 * 100%);
  }
}


@media (max-width:1023px) {

  /* Header */

  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* Hero */

    .hero {
    padding-top: 113px;
  }

  .hero__background--1 {
    background-image: url('../img/hero-1-768.jpg');
  }

  .hero__background--2 {
    background-image: url('../img/hero-2-768.jpg');
  }

  .hero__background--3 {
    background-image: url('../img/hero-3-768.jpg');
  }

  .hero__descr {
    max-width: 100%;
  }

  /* Gallery */

  .gallery {
    padding-top: 85px;
    max-height: 1111px;
  }

  .gallery__container {
    max-height: none;
  }

  .filter {
    margin-bottom: 49px;
    width: 280px;
  }

  .gallery__note {
    order: 1;
    width: 100%;
  }

  .gallery__swiper {
    width: 100%;
    padding-left: 0;
    margin-bottom: 7px;
  }

  .swiper-navigation {
    padding-top: 0;
  }
}

@media (max-width:767px) {

  .container {
    padding: 0 15px;
  }

  .nav__link {
    font-size: 16px;
  }

  .login__link {
    padding: 11px 31px;
    font-size: 12px;
  }

  .login__img {
    width: 9px;
    height: 9px;
  }

  .menu__close {
    margin-bottom: 14px;
    height: 15px;
    width: 15px;
    background-size: 15px;
  }


  /* Header */

  .burger {
    width: 21px;
    height: 15px;
    background-image: url('../img/Burger-320.png');
  }

  .nav {
    margin-bottom: 35px;
  }

  .menu {
    padding: 15px 15px 27px 15px;
    height: 355px;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 14px;
  }

  .header__top {
    padding: 13px 0;
    min-height: 45px;
  }

  .search-top__img {
    width: 16px;
    height: 16px;
  }

  .search-top__close {
    align-self: flex-start;
  }

  .close-search-img {
    height: 15px;
    width: 15px;
  }

  .search-top--active {
    padding: 15px;
    padding-left: 57px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: #00000066;
    backdrop-filter: blur(40px);
    z-index: 100;
  }

  .search-top__input {
    margin-right: auto;
    min-width: 190px;
  }


  /* Hero */

  .hero {
    padding-top: 33px;
    padding-bottom: 46px;
  }

  .hero__background--1 {
    background-image: url('../img/hero-1-320.jpg');
  }

  .hero__background--2 {
    background-image: url('../img/hero-2-320.jpg');
  }

  .hero__background--3 {
    background-image: url('../img/hero-3-320.jpg');
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero__heading {
    margin-left: 0;
    text-align: center;
    font-size: 32px;
    line-height: 37px;
  }

  .hero__descr {
    margin-bottom: 42px;
    width: 91%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .hero__link {
    padding: 11px 16px 11px 19px;
    font-size: 12px;
  }

  /* About*/

  .about {
    padding-top: 53px;
    padding-bottom: 41px;
  }

  .heading {
    font-size: 28px;
  }

  .about__heading {
    margin-bottom: 15px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }

  /* Gallery */

.gallery {
  padding-top: 52px;
  padding-bottom: 39px;
}

.gallery__heading {
  margin-bottom: 23px;
}

.filter {
  width: 100%;
  margin-bottom: 36px;
}

.filter__descr {
  margin-bottom: 12px;
}

.gallery__note {
  width: 100%;
  order: 1;
}

.gallery__swiper {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 0;
  margin-bottom: 18px;
  width: 290px;
}

.swiper-navigation {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-top: 0;
  padding-left: 0;
}

.swiper-wrapper {
  margin-bottom: 17px;
}

.swiper-pagination {
  margin: 0px 15px;
}

.swiper-button-left {
  margin-right: 0;
}

}
